{% extends "layout.html" %}
{% block body %}

<div class="row">
                     <!-- Post content Column-->
                <div class="col-lg-8">
                   
                    
                            <!-- Post title-->
                            <h3 class=" mt-4">{{article.title}}</h3>
                            <!--Author-->
                            <p class="lead">
                            by
                            {{article.author.username}}
                            </p>
                            <hr>

                            <!-- Date/Time-->
                            <p>{{article.created_date}}</p>
                            <hr>
                            
                       
                        <!-- Preview image figure-->
                        <!---<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->
                        <hr>
                        <!-- Post content-->
                        <p class="lead">
                          {{article.content}}
                        </p>
                        <hr>
                </div>
                

{% endblock body %}